@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-size: 14px;
  line-height: 18px;
  font-family: "Circle", Arial, sans-serif;
  color: #000;
  font-style: normal;
  font-weight: normal;
  background-color: #fbebea;
  margin-right: -1px;
  margin-left: -1px;
  box-sizing: padding-box;
  overflow-x: hidden;
  position: relative;
  background-color: #f2f3f9;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: #5e42b0;
  border-radius: 38px;
}
.btn:hover {
  box-shadow: 0px 8px 12px 0px rgba(164, 151, 203, 0.5), 0px 8px 14px 0px rgba(184, 151, 203, 0.9);
}
.btn input[type="text"] {
  background-color: #f2f2f2;
}
.btn input[type="text"]:hover {
  background-color: #e5e5e5;
}
.btn input[type="text"]:active {
  background-color: #fff;
  border: 4px #e5e5e5 solid;
}
.btn-social:hover {
  box-shadow: 2px 2px 12px 8px rgba(255, 0, 67, 0.16);
}
.container {
  padding: 0 20px;
  margin: 0;
  box-sizing: padding-box;
}
p {
  font-family: "ProximaNova";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}
span {
  font-family: "LatoLight";
  font-size: 22px;
  line-height: 28px;
  color: #c1c1c1;
}
h3 {
  font-family: "LatoBold";
  font-size: 18px;
  line-height: 18px;
}
a {
  text-decoration: none;
  color: black;
}
input[type="text"]:focus,
textarea:focus {
  outline: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 500px;
  background: url("../img/header-background.jpg") no-repeat;
  background-size: contain;
}
header ul {
  display: flex;
  flex-direction: row;
  width: 620px;
  min-height: 85px;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
header ul li a {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "LatoBold";
  color: #4d4959;
}
header ul .nav__about-us,
header ul .nav__shop {
  position: relative;
}
header ul .nav__about-us:after,
header ul .nav__shop:after {
  position: absolute;
  content: "";
  top: 5px;
  right: -50px;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}
@media (min-width: 1000px) {
  header {
    background-size: contain;
    width: 100%;
    height: 700px;
  }
}
@media (min-width: 1400px) {
  header {
    background-size: cover;
    height: 800px;
  }
}
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 12.5%;
}
.main-title h3 {
  font-family: "LatoBold";
  font-size: 18px;
  text-transform: uppercase;
}
.main-title p {
  font-family: "LatoRegular";
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  text-align: center;
}
@media (min-width: 1000px) {
  .main-title {
    padding-top: 0%;
  }
}
@media (min-width: 1400px) {
  .main-title {
    padding: 110px 12.5%;
  }
}
.bike-type {
  width: 100%;
  display: grid;
  grid-template-areas: "vintage-oliva vintage-oliva vintage-oliva-map" "vintage-oliva vintage-oliva vintage-oliva-map" "vintage-oliva vintage-oliva vintage-oliva-small" "la-boriosa-map la-boriosa la-boriosa" "la-boriosa-map la-boriosa la-boriosa" "la-boriosa-small la-boriosa la-boriosa" "retro-bike-left retro-bike retro-bike-right" "retro-bike-left retro-bike retro-bike-right" "retro-bike-left retro-bike-bottom retro-bike-right";
  grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
}
.bike-type .vintage-oliva {
  grid-area: vintage-oliva;
  background: url("../img/vintage-oliva.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bike-type .vintage-oliva-map {
  grid-area: vintage-oliva-map;
  box-size: padding-box;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bike-type .vintage-oliva-small {
  grid-area: vintage-oliva-small;
  background: url("../img/vintage-oliva-small.jpg") no-repeat;
  background-size: cover;
}
.bike-type .la-boriosa-map {
  grid-area: la-boriosa-map;
}
.bike-type .la-boriosa-small {
  grid-area: la-boriosa-small;
  background: url("../img/la-boriosa-small.jpg") no-repeat;
  background-size: cover;
}
.bike-type .la-boriosa {
  grid-area: la-boriosa;
  background: url("../img/la-boriosa.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bike-type .retro-bike-left {
  grid-area: retro-bike-left;
  background: url("../img/retro-bike-left.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bike-type .retro-bike {
  grid-area: retro-bike;
}
.bike-type .retro-bike-bottom {
  grid-area: retro-bike-bottom;
  background: url("../img/retro-bike-bottom.jpg") no-repeat;
  background-size: cover;
  justify-self: start;
  align-self: center;
  width: 100%;
  height: 100%;
}
.bike-type .retro-bike-right {
  grid-area: retro-bike-right;
  background: url("../img/retro-bike-right.jpg") no-repeat;
  background-size: cover;
  justify-self: start;
  align-self: center;
  width: 100%;
  height: 100%;
}
.bike-type .vintage-oliva-map,
.bike-type .la-boriosa-map,
.bike-type .retro-bike {
  box-size: padding-box;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bike-type .vintage-oliva-map img,
.bike-type .la-boriosa-map img,
.bike-type .retro-bike img {
  margin: 0 auto;
}
.bike-type .vintage-oliva-map h3,
.bike-type .la-boriosa-map h3,
.bike-type .retro-bike h3 {
  text-align: center;
}
.bike-type .vintage-oliva-map p,
.bike-type .la-boriosa-map p,
.bike-type .retro-bike p {
  padding: 0 10%;
  box-sizing: padding-box;
}
.bike-type .vintage-oliva-map:after,
.bike-type .la-boriosa-map:after,
.bike-type .retro-bike:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: calc(45%);
  border: 20px solid transparent;
  border-top: 20px solid white;
}
.about-us {
  display: flex;
  flex-direction: column;
  padding: 50px 19%;
  align-items: center;
}
.about-us .about-us__map {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us .about-us__map .about-us__title {
  font-family: "LatoBold";
  font-size: 18px;
  line-height: 22px;
}
.about-us .about-us__map .about-us__title span {
  padding-left: 10px;
}
.about-us .about-us__map .about-us__text {
  font-family: "LatoItalic";
  color: #848789;
}
.about-us .about-us__radiobuttons {
  display: block;
  width: 150px;
  margin-top: 85px;
}
.about-us .about-us__radiobuttons input[type="radio"] {
  display: none;
}
.about-us .about-us__radiobuttons .slider-controls {
  width: 110px;
  margin: 0 auto;
}
.about-us .about-us__radiobuttons .slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dddddd;
  margin: 5px;
}
.about-us .about-us__radiobuttons #review_1:checked ~ .slider-controls label[for="review_1"],
.about-us .about-us__radiobuttons #review_2:checked ~ .slider-controls label[for="review_2"],
.about-us .about-us__radiobuttons #review_3:checked ~ .slider-controls label[for="review_3"] {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #a9afb3;
}
.shop-now {
  width: 100%;
  display: grid;
  grid-template-areas: "shop-now-left-top shop-now-left shop-now-middle-left shop-now-middle-right shop-now-right-top shop-now-right-top" "shop-now-left-bottom shop-now-left-bottom shop-now-middle-left shop-now-middle-right shop-now-right shop-now-right-bottom";
  grid-template-rows: 250px 250px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}
.shop-now .shop-now-left-top {
  grid-area: shop-now-left-top;
  background: url("../img/shop-now-left-top.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-left {
  grid-area: shop-now-left;
  background: url("../img/shop-now-left.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-left-bottom {
  grid-area: shop-now-left-bottom;
  background: url("../img/shop-now-left-bottom.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-middle-left {
  grid-area: shop-now-middle-left;
  background: url("../img/shop-now-middle-left.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-middle-right {
  grid-area: shop-now-middle-right;
  background: url("../img/shop-now-middle-right.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-right-top {
  grid-area: shop-now-right-top;
  background: url("../img/shop-now-right-top.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-right {
  grid-area: shop-now-right;
  background: url("../img/shop-now-right.jpg") no-repeat;
  background-size: cover;
}
.shop-now .shop-now-right-bottom {
  grid-area: shop-now-right-bottom;
  background: url("../img/shop-now-right-bottom.jpg") no-repeat;
  background-size: cover;
}
.discover-shop {
  background-color: #282f35;
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discover-shop a {
  display: inline-block;
  padding: 20px 55px;
  color: #ffffff;
  border: 1px #94979a solid;
  cursor: pointer;
  font-family: "LatoBold";
  font-size: 14px;
  line-height: 18px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 20px;
}
.form p {
  padding: 35px 0;
  font-family: "LatoItalic";
  font-size: 24px;
  line-height: 28px;
  color: #848789;
}
.form input[type="email"] {
  box-sizing: padding-box;
  width: 400px;
  height: 73px;
  border: 1px #d3d7d9 solid;
  font-size: 24px;
  line-height: 27px;
}
.form input[type="email"]::-webkit-input-placeholder {
  color: #c8c8c8;
  padding-left: 27px;
  font-family: "LatoItalic";
  font-size: 24px;
  line-height: 27px;
}
.form input[type="email"]::-moz-placeholder {
  color: #c8c8c8;
  padding-left: 27px;
  font-family: "LatoItalic";
  font-size: 24px;
  line-height: 27px;
}
.form input[type="email"]:-moz-placeholder {
  color: #c8c8c8;
  padding-left: 27px;
  font-family: "LatoItalic";
  font-size: 24px;
  line-height: 27px;
}
.form input[type="email"]:-ms-input-placeholder {
  color: #c8c8c8;
  padding-left: 27px;
  font-family: "LatoItalic";
  font-size: 24px;
  line-height: 27px;
}
.form input[type="email"]:focus {
  border: 1px #d3d7d9 solid;
  outline: none;
}
.form input[type="submit"] {
  margin-left: 9px;
  background-color: #64c29e;
  color: white;
  padding: 25px 45px;
  font-size: 24px;
  font-family: "LatoLight";
  border: 0 green solid;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 100px 15%;
}
footer .footer__adress {
  font-size: 18px;
  color: #8c8e90;
}
footer .footer__adress .adress__town {
  font-family: "LatoBold";
}
footer .footer__adress .adress__street {
  font-family: "LatoItalic";
}
footer .footer__navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 145px;
  justify-content: space-between;
}
footer .footer__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer__copyright p {
  padding-right: 10px;
  font-family: "LatoItalic";
  font-size: 14px;
  line-height: 18px;
  color: #848789;
}
/*# sourceMappingURL=styles.css.map */